@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Nunito", sans-serif;
}
.bg {
  background: rgba(29, 192, 173, 0.05);
}
.wrapper::-webkit-scrollbar {
  width: 0;
}
