@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Nunito", sans-serif;
}
.background {
  background: rgba(29, 192, 173, 0.05);
}
